.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 20px; /* Reduced padding for better alignment on smaller screens */
  background-color: #2b2b2b;
  color: #fff;
  width: 100%; /* Ensure the section takes the full width */
  box-sizing: border-box; /* Include padding and border in the element's width */
}

.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width to ensure centering */
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%; /* Full width of the content */
  max-width: 800px; /* Max width to control the content layout */
  margin: 20px auto 0; /* Auto margin for centering */
  padding: 0 20px; /* Padding for small screens */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.about-section-content {
  background-color: #333333;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Full width for the content section */
  max-width: 800px; /* Max width for content consistency */
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.about-section-content.visible {
  opacity: 1;
  transform: translateY(0);
}

.about-section-content.alternate {
  background-color: #444444;
}

.about-section-content:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.about-section-content h2 {
  font-size: 1.8rem;
  color: #007bff;
  text-align: center;
}

.about-section-content p {
  font-size: 1.2rem;
  color: #fff;
  margin: 10px 0 0;
}

@media (min-width: 768px) {
  .about-section-content h2 {
    font-size: 3rem;
  }

  .about-section-content p {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .about-section-content h2 {
    font-size: 3.5rem;
  }

  .about-section-content p {
    font-size: 1.8rem;
  }
}
