.experience {
  padding: 50px;
  background: #e9ecef; /* Light grey background for the whole section */
  color: #000000;
}

.experience h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 3.5rem; /* Consistent font size with about-section h2 */
  color: #000000; /* Consistent color */
}

.experience-container {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Increased gap for better spacing */
}

.experience-card {
  background: white;
  padding: 30px; /* Increased padding for more spacious feel */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.6s ease-out, transform 0.6s ease-out;
  opacity: 0; /* Initially hidden */
  transform: translateY(50px); /* Slide in from below */
}

.experience-card.visible {
  opacity: 1; /* Fully visible when in view */
  transform: translateY(0); /* Slide to original position */
}

.experience-card:nth-child(even) {
  background: #fcfbfb; /* Slightly darker grey for even cards */
}

.experience-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.experience-card h3 {
  margin: 0;
  font-size: 1.8rem; /* Consistent font size with about-section h2 */
  color: #007bff; /* Consistent color */
}

.experience-card h4 {
  margin: 5px 0;
  color: #6c757d;
  font-size: 1.5rem; /* Consistent font size with about-section p */
}

.experience-card p {
  font-size: 1.2rem; /* Consistent font size with about-section p */
  color: #666666;
  margin: 10px 0 0; /* Better spacing around text */
}

/* Media Queries for responsive design */
@media (min-width: 768px) {
  .experience-container {
    justify-content: space-between;
  }

  .experience-card h3 {
    font-size: 3rem; /* Consistent font size with about-section h2 for larger screens */
  }

  .experience-card p,
  .experience-card h4 {
    font-size: 1.5rem; /* Consistent font size with about-section p for larger screens */
  }
}

@media (min-width: 1200px) {
  .experience-card h3 {
    font-size: 3.5rem; /* Consistent font size with about-section h2 for larger screens */
  }

  .experience-card p,
  .experience-card h4 {
    font-size: 1.8rem; /* Consistent font size with about-section p for larger screens */
  }
}
